.main::before {
    content: '';
    position: absolute;
    height: 160px;
    background: rgb(22, 82, 240);
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
}

.penultimate-section {
    position: absolute;
    top: 0;
    right: 0;
}